.categories {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    color: grey;
    list-style-type: none;
    margin-top: -20px;
    /* border:2px solid red; */
    gap:20px;
}

#logo  a img{
    width:100px;
    margin-left: 100px;
}
#catg1{
    display:flex;
    gap: 20px;
    align-items: center;
    color:grey;
    cursor: pointer;
    /* width:100%; */


}
#catg1  a{
    text-decoration: none;
    outline:none;
    color:grey;
}
#catg1 p{
    font-size: 20px;
    width:100%;
}

#sale {
    /* border:2px solid red; */
    background-color: #effbfc;
    height: 40px;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    color: black;
    font-weight: 350;
    font-family: Montserrat, sans-serif;
}

#catg1 a button{
   font-size: 40px;
   margin-top: -5px;;
}
/* slide */

.box {
    width: 100%;
    height: 20%;
    cursor: pointer;
    margin-top:-55px;

}

.box>img {
    width: 100%;
    height: 300px;
    /* margin-left:30px;  */
    
}

.box1 {
    width: 100%;
    height: 20%;
    margin-top: 20px;
    cursor: pointer;

}




/* product cart */

.freebies {
    margin-bottom: 40px;
}

.freebies h2 {
    padding-left: 30px;
    /* border:2px solid red; */


}

.freeprod {
    /* border:2px solid green; */
    display: flex;
    gap: 20px;
    margin: 0px 30px 0px 30px;
    cursor: pointer;

}

.freeprod>div>img {
    display: block;
    margin: auto;
}

.freeprod>div>div {
    padding-left: 10px;
    /* border:2px solid orange; */
    height: 250px;
}

.freeprod>div {
    /* border:2px solid blue; */
    width: 97%;
    border-radius: 20px;
    /* height:100px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;


}


.freeprod>div>div:nth-child(2)>h4 {
    width: 100%;
    color: grey;
}

.freeprod>div>div>div:nth-child(3) {
    color: grey;
}

#discount {
    text-decoration: line-through;
    color: grey;
}

.discolor {
    color: green;
}



#star {
    width: 10px;
    height: 10px;
}

/* button {
    align-items: center;
    margin: auto;
    display: block;
    background-color: #fff9f4;
    color: #ff8915;
    width: 90%;
    height: 30px;
    border-radius: 8px;
    margin-top: 40px;
    border: none;


    /* text-align: center; */
/* } */ */

button:hover {
    color: white;
    background-color: #ff9a37;

    cursor: pointer;
}


.final {
    display: flex;
    margin: 20px;
    color: white;
    gap: 100px;
    /* justify-content: space-between; */

}

.final {
    display: flex;
    /* margin: 20px; */
    color: white;
    gap: 100px;
    /* justify-content: space-between; */

}

.finals {
    background-color: #0d2122;
    padding: 10px;
}

.final p {
    font-size: 13px;
}

.final>div:nth-child(5)>p {
    width: 60%;

}

.final p:hover {
    color: #03888a;
    cursor: pointer;
}
.final>div:nth-child(6)>img{
    width:300px;
    margin-left:-200px;
}

#logo {
    width: 100px;
    height: 70px;
    margin: auto;
    display: block;
    margin-left: -80px;
    margin-top: 30px;
}

#by1 {
    /* border:2px solid red; */
    margin-top: 25px;
    width:100%;
    /* margin-left: -40px; */
    /* font-size: 25px; */
}