/* *{
    margin:0;
    padding:0; */
    /* font-family:Arial, Helvetica, sans-serif; */
/* } */
/* navbar */

/* body{
    margin:0;
    padding:0;
} */

#navbar {
    /* border:2px solid red; */
    height: 10vh;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;


}

input {
    width: 50%;
    height: 3vh;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    /* margin-left: -110px; */
    background-color: #f7f7f7;
    outline: none;
    /* position:relative; */

}

#img {
    /* border:2px solid red; */
    height: 80px;
    justify-content: space-around;
}

#login {
    width: 100px;
    height: 40px;
    background-color: #00b5b7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 0px;

    /* text-decoration-line: underline */
}

hr {
    background-color: #dbdee9;
    border: 1px solid #dbdee9;
}

#cart {
    border: none;
    background-color: none;
    width: 60px;
    height: 5vh;
    font-size: 30px;
    background-color: white;
    /* align-items:center; */
    margin-top: 10px;
}

#cart:hover {
    background-color: rgb(219, 219, 219);
    /* Green */
    color: white;
    /* width:40px; */
}






/* after the navbar */

#categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
    list-style-type: none;
    margin-top: -20px;
}

#categories>div:nth-child(1) {
    list-style-type: none;
    color: grey;
    font-weight: bold;
    margin-top: -15px;


}

#categories>div:nth-child(2){
    margin-left:-20px;
    margin-right: 20px;
}


.container li {
    color: grey;
    list-style-type: none;

}

a {
    color: grey;
    font-size: 30px;
}

a:link {
    text-decoration: none;
    /* margin-top:-20px; */
}

#by {
    color: grey;
}

#categories>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-left:-60px;
    /* border:2px solid red; */
}

#categories>div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    margin-left: -100px;
    font-size: 25px;
    gap: 40px;
    margin-top: -10px;
    /* padding-top:20px; */

}

.rightPart {
    /* border:1px solid red; */
    display: flex;
    font-size: 13.5px;
    width: 260px;
    margin-left: 400px;
    margin-top: 10px;
    /* border:2px solid red; */

}

.rightPart .consult {
    width: 100px;
    height: 30px;
    display: flex;
    /* background-color: #d8faf9;    */
    border-radius: 4px;
    margin-left: 40px;
}

#catLinks {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    margin-left:-100px;
}

#catLinks li {
    margin: 5px;
    font-size: 10px;
    padding-left: 10px;
    margin-top: 15px;
}

#catLinks li a {
    color: grey;
}

#catLinks li:hover {
    color: #00a0a0;
    cursor: pointer;
}

#catLinks li .dropdown {
    top: 8rem;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: whitesmoke;

}

li .dropdown {
    margin-top: 10px;
    display: none;
    

}

li .dropdown li {
    display: block;
    float: none;
    cursor: pointer;
    

}

#catLinks li:hover .dropdown {
    display: block;

}

#catLinks:hover .dropdown li {
    margin: 10px;
    font-size: 10px;
    /* font-size: 2px; */
    font-size: 20px;
}

.rightPart .consult p {
    text-align: center;
    margin-top: 7px;
    font-weight: 900;
    /* font-size:10px; */

}


.rightPart .consult i {
    margin: 8px 7px;

}

.rightPart .findStore {
    width: 100px;
    height: 30px;
    display: flex;
    /* background-color: #e3e3e3; */
    border-radius: 4px;
    margin-left: 20px;
}

.rightPart .findStore p {
    text-align: center;
    margin-top: 7px;
    font-weight: 600;


}

.rightPart .findStore i {
    margin: 8px 7px;
}

#sale {
    /* border:2px solid red; */
    background-color: #effbfc;
    height: 40px;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    color: black;
    font-weight: 350;
    font-family: Montserrat, sans-serif;
}



/* slide */

.box {
    width: 100%;
    height: 20%;
    cursor: pointer;


}

.box>img {
    width: 100%;
    height: 300px;
    /* margin-left:30px;  */
}

.box1 {
    width: 100%;
    height: 20%;
    margin-top: 20px;
    cursor: pointer;

}

.box1>img {
    width: 100%;
    height: 300px;
    /* margin-left:30px;  */
}

.box2 {
    width: 100%;
    height: 20%;
    cursor:pointer;


}

.box2>img {
    width: 100%;
    height: 300px;
    /* margin-left:30px;  */
}


/* product cart */

.freebies {
    margin-bottom: 40px;
}

.freebies h2 {
    padding-left: 30px;
    /* border:2px solid red; */


}

.freeprod {
    /* border:2px solid green; */
    display: flex;
    gap: 20px;
    margin: 0px 30px 0px 30px;
    cursor: pointer;

}

.freeprod>div>img {
    display: block;
    margin: auto;
}

.freeprod>div>div {
    padding-left: 10px;
    /* border:2px solid orange; */
    height: 250px;
}

.freeprod>div {
    /* border:2px solid blue; */
    width: 97%;
    border-radius: 20px;
    /* height:100px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;


}


.freeprod>div>div:nth-child(2)>h4 {
    width: 100%;
    color: grey;
}

.freeprod>div>div>div:nth-child(3) {
    color: grey;
}

#discount {
    text-decoration: line-through;
    color: grey;
}

.discolor {
    color: green;
}



#star {
    width: 10px;
    height: 10px;
}

button {
    align-items: center;
    margin: auto;
    display: block;
    background-color: #fff9f4;
    color: #ff8915;
    width: 90%;
    height: 30px;
    border-radius: 8px;
    margin-top: 40px;
    border: none;


    /* text-align: center; */
}

button:hover {
    color: white;
    background-color: #ff9a37;

    cursor: pointer;
}


/* bottomnavbar */

/* .bottomnav{
    border:2px solid red;

} */

.bottomnav>h3 {
    margin-left: 70px;
    font-weight: bolder;
    font-size: 40px;
}

.btmnav {
    /* border:2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 70px;
}

/* .btmnav>div{
    border:2px solid yellow;
} */

.btmnav>div>p {
    color: grey;
    width: 90%;
}

#hr1 {
    width: 100%;
    /* margin-top:-20px;     */
    padding-top: 5px;

}


/* mobilbar */

#mobile {
    display: flex;
    cursor: pointer;
    /* border:2px solid red; */
}

#mobile>div {
    display: flex;
    /* margin-top:100px; */
}

#mobile>div>div:nth-child(2)>h2 {
    font-size: 55px;

}

#mobile>div>div:nth-child(2)>div {
    display: flex;
}

#mobile>div>div:nth-child(2)>div:nth-child(2) {
    font-size: 30px;
}

#mobile>div>div:nth-child(2)>div:nth-child(3) {
    margin-left: 60px;
    margin-top: -30px;
    color: grey;
}

#mobile>div>div:nth-child(2)>div:nth-child(4) {
    font-size: 30px;
}

#mobile>div>div:nth-child(2)>div:nth-child(5) {
    margin-left: 60px;
    margin-top: -30px;
    color: grey;
}

#mobile>div>div:nth-child(2)>div:nth-child(6) {
    font-size: 30px;
}

#mobile>div>div:nth-child(2)>div:nth-child(7) {
    margin-left: 60px;
    margin-top: -30px;
    color: grey;
}

#playstore {
    display: flex;
    gap: 30px;
    margin-left: 50px;
    margin-top: 30px;

}

#playstore>div>a>img {
    width: 100%;
    height: 60px;
    border-radius: 5px;
}


.last2 {
    gap: 20px;
    display: flex;
    /* align-items: center; */
    margin-left: 200px;
    /* margin-right: 200px; */

}

.last2>img {
    width: 40%;
    height: 400px;
    border-radius: 20px;
}

.final {
    display: flex;
    /* margin: 20px; */
    color: white;
    gap: 100px;
    /* justify-content: space-between; */

}

.finals {
    background-color: #0d2122;
    padding: 10px;
}

.final p {
    font-size: 13px;
}

.final>div:nth-child(5)>p {
    width: 60%;

}

.final p:hover {
    color: #03888a;
    cursor: pointer;
}
.final>div:nth-child(6)>img{
    width:300px;
    margin-left:-200px;
}

.pick {
    /* border:2px solid red; */
    width: 90%;
    margin: 60px;

}

#picks {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    width: 23.6%;
    cursor: pointer;


}

#picks>img {
    width: 100%;
    border-radius: 10px;
    
}